body {
    font: 14px "Century Gothic", Futura, sans-serif;
  background-color: black;
  }
  
  ol, ul {
    padding-left: 30px;
    color: aqua;
  }

  .board{
    border: 5px solid deepskyblue;
    border-radius: 10px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .status {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 70px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: row wrap;*/
    justify-content: center;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .game-info ul li {
    margin-top : 5px;
  }
  